body
{
	font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: 1.6;

    margin: 0;

    color: #fff;
}

*,
*:before,
*:after
{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container{
	width: 100%;
	max-width: 1110px;
	margin: 0 auto;
}


.header{
	width: 100%;
	position: absolute;
	padding: 40px;

	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header-inner
{
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.nav__list
{		
	display: flex;
	vertical-align: center;
	list-style-type:none;
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
	padding:0;
	margin:0;
	
}

.nav-link
{
	display: inline-block;
	vertical-align: bottom;
	margin: 0px 15px;
	position: relative;

	font-size: 14px;
	font-weight: 700;
	
	letter-spacing: 0.14px;

	text-transform: none;
	color: #fff;
	text-decoration: none;
}

.phone-link{
	display: inline-block;
	vertical-align: bottom;
	margin: 0px 30px;
	position: relative;

	letter-spacing: 0.14px;
	color: #fff;
	text-decoration: none;
}

.intro
{
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	height: 100vh;
	

	background: url(../images/header.jpg)
	center no-repeat;
	
	background-size: cover;
}


.intro__inner {
	width: 100%;
    max-width: 623px;
    padding-top: 50px;
    margin: 0 auto;

    text-align: center;
}

.intro__title{
	margin-bottom: 30px;

	font-size: 50px;
	letter-spacing: 1.25px;
	line-height: 60px;
}

.intro__subtitle{
	width: 100%;
	max-width: 475px;
	margin: 0 auto;
	

	color: #ffffff;
	font-family: "Lato", sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.4px;
}

.intro__call{
	display: block;
	width: 202px;
	height: 46px;
	padding: 10px;
	margin: 55px auto;

	background-color: #1a0c47;

	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 28.01px;
	letter-spacing: 0.16px;
	text-decoration: none;
}


















