body
{
	font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    line-height: 1.6;

    margin: 0;

    color: #000;
}

*,
*:before,
*:after
{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* Container */
.container{
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;

}

.page{
	overflow: hidden;
}

.header{
	width: 100%;
	position: absolute;
	padding: 40px;

	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header__menu {
	display: flex;
    align-items: center;
}

.menu-btn {
	display: none;
	width: 44px;
	height: 44px;
	border: 2px solid rgba(255, 255, 255, .3);
	
	position: relative;
	cursor: pointer;
	
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after{
	position: absolute;
	width: 18px;
	height: 2px;
	top: 50%; margin-top: -1px;
	left: 50%; margin-left: -9px;

	background-color: #fff;
}

.menu-btn span::before,
.menu-btn span::after {
	content: "";
	transition: .3s;

}

.menu-btn span::before {
	transform: translateY(-6px);
}

.menu-btn span::after {
	transform: translateY(6px);
}

.menu-btn.active span {
	height: 0;
}

.menu-btn.active span::before{
	transform: rotate(45deg);
}

.menu-btn.active span::after{
	transform: rotate(-45deg);
}

.header-inner
{
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo{
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.logo__link{
	text-decoration: none;
	color: #fff;
}

.menu__box
{		
	display: flex;
	vertical-align: middle;
	list-style-type:none;
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
	padding:0;
	margin:0;
	
}

.menu__item
{
	display: inline-block;
	width: 100%;
	vertical-align: bottom;
	margin: 0px 15px;
	position: relative;

	font-size: 14px;
	font-weight: 700;
	
	letter-spacing: 0.14px;

	text-transform: none;
	color: #fff;
	text-decoration: none;

	transition: transform .15s linear;
}


.menu__item:hover{
	text-decoration: underline;
}

.phone-link{
	margin-left: 30px;

	display: inline-block;
	vertical-align: middle;
	position: relative;

	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
	line-height: 28.01px;
	letter-spacing: 0.14px;
	text-decoration: none;

	transition: color .15s linear;
}

.phone-link:hover{
	text-decoration: underline;
	
	color: #3d8dd9;
}

.intro
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	
	height: 100%;

	position: relative;
    z-index: 2;
}	



.intro__layout {
	position: relative;
	background-color: #1a0c47;

	width: 100%;
	height: 100vh;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.intro__layout_2 {
	
	position: absolute;
	width: 100%;
	height: 100%;
	
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 1;
	opacity: 0.4;
}

.intro__inner {
	width: 100%;
    max-width: 623px;
    padding-top: 50px;
    margin: 0 auto;

    text-align: center;
}

.intro__title{
	margin-bottom: 30px;

	color: #fff;
	
	font-size: 50px;
	letter-spacing: 1.25px;
	
}

.intro__subtitle{
	width: 100%;
	max-width: 475px;
	margin: 0 auto;
	

	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.4px;
}

.intro__call{
	display: block;
	width: 202px;
	height: 46px;
	padding: 10px 0;
	margin: 55px auto;

	background-color: #1a0c47;
	border-radius: 2px;

	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 28.01px;
	letter-spacing: 0.16px;
	text-decoration: none;
	text-align: center;
	

	transition: background .1s linear, 
	color .1s linear,
	border .1s linear;
}

.intro__call:hover{
	background-color: #DBD1FF;

	color: #1a0c47;
}

.intro__call:active{
	background-color: #fff;

	color: #1a0c47;

	box-shadow: 0px 0px 10px 0 #1a0c47 inset;
}


.section {
	padding: 100px 0;
}

.section--gray{
	background-color: #f6f6f6;
}

.section__header{
	margin-bottom: 100px;
}

.section-reviews{
	background: url(../images/reviews/1.jpg)
	no-repeat center;

	background-size: cover;
}

.section_contacts {
	background-color: #171717;
	position: relative;
	background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
}

.about {
	display: flex;
	
}

.about__img {
	width: 100%;
	max-width: 540px;
}

.about__img img{
	display: block;
	width: 100%;
	object-fit: cover;
}

.about__info {
	padding: 85px 0 71px 27px;
}

.header__title {
	margin-bottom: 40px;

	color: #333333;
	font-size: 40px;
	line-height: 28.01px;
	letter-spacing: 0.4px;

	text-align: center;
	
}

.header__subtitle{
	opacity: 0.7;
	color: #000000;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 28.01px;

	letter-spacing: 0.16px;
}

.about__info .header__title{
	text-align: left;
}

.about__text {
	width: 100%;
    max-width: 456px;

	opacity: 0.7;

	color: #000000;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 28.01px;
	letter-spacing: 0.16px;
}

.about__info .intro__call {
	margin: 60px 0 0 0;
}

/* Process */

.work{
	text-align: center;
	
}

.work__content {
	display: flex;
	color: #fff;   
	justify-content: center;
	flex-wrap: wrap;
	
	margin: 0 -15px;
		
}

.work__item {
	padding: 0 15px;
	width: 25%;
	margin-bottom: 30px;
	flex-shrink: 0;
	max-width: 270px;
}

.work__item:nth-of-type(odd) .work__inner{
	background-color: #1a0c47;
}

.work__item:nth-of-type(even) .work__inner{
	background-color: #171717;
}

.work__inner{
    position: relative;
}

.normalize{
  padding: 50%;
}

.work__wrap {
	display: flex;
  justify-content: center;    
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  top:0;
  bottom: 0;
  right: 0;

}

.work__text {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 28.01px;
	text-transform: uppercase;
	letter-spacing: 0.48px;
}

/* Works */

.works__content{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.works__img-wrap{
	margin: 15px 15px;
	max-width: 540px;
	width: 100%;
}

.works__img-wrap:nth-child(odd){
	margin-left: 0;
}

.works__img-wrap:nth-child(even){
	margin-right: 0;
}

.works__photo{
	display: block;
	width: 100%;
    height: 100%;
    object-fit: cover;
}



/* Reviews */

.reviews__title{
	color: #ffffff;
	font-size: 40px;
	font-weight: 700;
	line-height: 28.01px;
	letter-spacing: 0.4px;
	margin-bottom: 85px;
}

.reviews__content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.reviews__item {
	width: 100%;
	max-width: 465px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-flow: column;
}



.reviews__text {
	margin-bottom: 40px;

	opacity: 0.7;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 28.01px;

	letter-spacing: 0.16px;
}

.reviews__text::before {
	content: "";
	display: block;
	width: 100%;
	max-width: 60px;
	height: 100px;
	max-height: 50px;
	margin-bottom: 40px;

	background: url(../images/reviews/3.svg) 
	no-repeat;
}

.reviews__sign-wrap{
	margin-bottom: 40px;
}

.reviews__author {
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	line-height: 28.01px;
	letter-spacing: 0.18px;
}

.reviews__job {
	opacity: 0.5;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 28.01px;
	/* Text style for "Designer," */
	letter-spacing: 0.14px;
}

/* Slider */

.slider_points {
	display: none;
}

.first_slide {
	margin-right: 10px;
}


/* Clients */

.clients {

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.clients .section__header {
	margin-bottom: 90px;
}

.clients .header__title {
	margin-bottom: 0;
}

.clients__content {
	width: 100%;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;

}

.clients__row {
	width: 100%;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.clients__item {
	width: 100%;
	max-width: 255px;
	height: 110px;
	
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 70px;

	background-color: #fff;
}

.clients__row .clients__item:nth-of-type(2),
.clients__row .clients__item:nth-of-type(3) {
	margin: 0 15px;
}

.clients__row .clients__item:nth-of-type(1) {
	margin-right: 15px;
}

.clients__row .clients__item:nth-of-type(4) {
	margin-left: 15px;
}

.clients__logo {
	max-width: 192px;
    margin: 0 31.5px;
}

.clients__logo img {
	display: block;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter: grayscale(100%);
}


/* Contacts */

.contacts {
	position: relative;
	z-index: 2;
}

.contacts__background {
	position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.02;
}

.contacts__title {
	color: #ffffff;
	font-size: 40px;
	font-weight: 700;
	line-height: 28.01px;
	letter-spacing: 0.4px;
	margin-bottom: 85px;
}

.contacts__content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	max-width: 1110px;
}




/* Contacts Form */
form{
	margin-right: 30px;
}

.form-wrap {
	width: 100%;
	max-width: 540px;
	padding: 40px 30px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;

	background: rgba(255, 255, 255, 0.04);

}

.form__item {
	margin-bottom: 30px;
}

.form__item:nth-child(5){
	margin-bottom: 40px;
}

.contacts__form__title {
	color: #ffffff;
	font-size: 24px;
	line-height: 28.01px;
	letter-spacing: 0.72px;
}

.contacts__item {
	width: 100%;
	max-width: 540px;
}

.contacts__item:nth-child(2){
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}

#name__input {
	display: block;
	width: 100%;
	padding: 1em;
}
#name__input[placeholder],
#email__input[placeholder],
#phone__input[placeholder],
#message__input[placeholder]{
	opacity: 0.6;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	/* Text style for "Name*" */
	letter-spacing: 0.14px;
	outline: 0;
	background: transparent;
	box-shadow: none;
	border: 1px solid rgba(255, 255, 255, 0.6);
	
}

#name__input:focus,
#email__input:focus,
#phone__input:focus,
#message__input:focus{
	color: #fff;
}

#email__input,
#phone__input {
	display: block;
	width: 100%;
	padding: 1em;
}

#message__input{
	width: 100%;
    height: 140px;
    padding: 1em;
    resize: none;
    overflow: auto;
}

#contacts__submit {
	width: 202px;
	height: 46px;
	padding: 10px 0;

	background-color: #1a0c47;
	border: none;
	box-shadow: none;

	font-family: Montserrat;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 28.01px;
	letter-spacing: 0.16px;
	text-decoration: none;
	text-align: center;
	outline: none;

	transition: background .1s linear, 
	color .1s linear,
	border .1s linear;
}

#contacts__submit:hover{
	background-color: #DBD1FF;
	color: #1a0c47;
}

#contacts__submit:active{
	background-color: #fff;
	color: #1a0c47;
	box-shadow: 0px 0px 10px 0 #1a0c47 inset;
}

.form__item:last-child{
	margin-bottom: 0;
}

.contacts__block{
	width: 100%;
	max-width: 540px;
	max-height: 179px;
	padding: 40px 30px;
	margin-bottom: 30px;

	background: rgba(255, 255, 255, 0.04);

}

.contacts__text {
	width: 100%;
	max-width: 460px;

	opacity: 0.8;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 30.01px;
	letter-spacing: 0.16px;
}

.contacts__text a{
	display: block;
	margin: 0;
	padding: 0;

	text-decoration: none;
	opacity: .8;
	color: #fff;
}

.contacts__title__small{
	margin-bottom: 20px;
}


/* Footer */

.footer{
	background-color: #f6f6f6;
}

.footer__inner {
	position: relative;
	
	padding: 50px 0;
	width: 100%;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__logo {
	color: #1a0c47;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.footer__logo__link {
	color: #1a0c47;
	text-decoration: none;
}

.footer__nav__list {
	margin-right: 100px;

	display: flex;
	vertical-align: middle;
	list-style-type:none;
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
	padding:0;
	margin:0;
}

.footer__nav-link {
	display: inline-block;
	vertical-align: bottom;
	margin: 0px 15px;
	position: relative;

	font-size: 14px;
	font-weight: 700;
	
	letter-spacing: 0.14px;

	text-transform: none;
	color: #333333;
	text-decoration: none;

	transition: transform .15s linear;
}

.footer__nav-link:hover{
	text-decoration: underline;

	transform: scale(1.2);
}

.social{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sprite {
    background-image: url(../images/social/spritesheet.png);
    filter: grayscale(100%);
    background-repeat: no-repeat;
    display: block;
    margin-right: 15px;
}

.sprite:hover{
	opacity: .5; 
}

.sprite-1 {
    width: 10px;
    height: 18px;
    background-position: 0 0;
}

.sprite-2 {
    width: 19px;
    height: 19px;
    background-position: 0 -18px;
}

.sprite-3 {
    width: 20px;
    height: 16px;
    background-position: 0 -37px;
}

.sprite-4 {
    width: 20px;
    height: 19px;
    background-position: 0 -53px;
}


/* Copyright */

.copyright{
	opacity: 0.7;
	color: #171717;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 28.01px;
	letter-spacing: 0.16px;

	background-color: #fff;
}










@media (max-width: 1240px){

}

@media (max-width: 1110px) {
	.header-inner {
		justify-content: space-between;
	}

	.menu__box {
		display: none;
	}
	
}

@media (max-width: 1024px){
	/* Container */
	.container {
		max-width: 920px;
	}

	/* About */

	.about__text {
		font-size: 14px;
		line-height: 21px;
		letter-spacing: 0.14px;
	}

	.about__img{
		max-width: 445px;
	}
	
	/* Header */
	.header__title {
		font-size: 30px;
		letter-spacing: 0.3px;
		margin-bottom: 30px;
	}

	.header__subtitle {
		font-size: 14px;
		line-height: 28.01px;
		letter-spacing: 0.14px;
	}

	.menu-btn {
		display: block;
		
	}

	.menu__box {
		width: 100%;
		display: block;
		position: absolute;
	    top: 95px;
    	right: 0;
	    text-align: center;
	    font-size: 18px;
	    background-color: rgba(24,22,59,0.9);
	    border-radius:  0%;
		transition: .3s;
		transform-origin: top;
	    transform:  scale(0) translate(0,-50px);
	    opacity: 0;
	}

	.menu__box.active {
		display: block;
	    transform: scale(1) translateY(0);
	    opacity: 1;
	}

	.menu__box.active li:hover {
		background-color: rgba(255, 255, 255, .1);
	}


	.phone-link{
		margin-left: 0;
		margin-right: 40px;
		-webkit-order: -1;
		-moz-order: -1;
		-ms-order: -1;
		-o-order: -1;
		order: -1;
	}

	/* Process(Work) */
	.work__text {
		font-size: 14px;
	}
	

	/* Clients */
	.clients__row:last-child .clients__item {
		margin-bottom: 0;
	}


	/* Contacts */
	.contacts__title {
		font-size: 30px;
		margin-bottom: 50px;
	}

	.contacts__item{
		width: 50%;
	}

	.contacts__form__title {
		font-size: 20px;
	}

	.contacts__text {
		font-size: 14px;
	}

	/* Reviews */
	.reviews__title {
		display: none;
	}

	.reviews__text {
		width: 84%;
		margin-bottom: 75px;

		font-size: 14px;
		line-height: 28.01px;
		letter-spacing: 0.14px;
	}

	.reviews__text:first-child{
		margin-right: 100px;
	}

	/* Footer */
v

	.footer__logo {
		font-size: 18px;
		margin-right: 35px;
	}

	.footer__nav-link {
		font-size: 13px;
	}

	.social {
		right: -55px;
	}
}

@media screen and (max-width: 768px){

	/* Header */
	.header {
		padding: 15px 0;
	}

	.header-inner {
		flex-direction: column;
	}

	.header-logo {
		margin-bottom: 10px;
		font-size: 16px;
	}
	
	.header__menu {
		width: 100%;
		justify-content: space-between;
	}

	/* Intro */
	.intro__title {
		font-size: 30px;
	}

	.intro__subtitle {
		font-size: 14px;
	}

	.intro__layout_2 {
		background-position: 60% 50%;
	}

	/* Section */

	.section {
		padding: 60px 0;
	}

	.section__header {
		margin-bottom: 50px;
	}
	/* About */
	.about {
		flex-direction: column;
		align-items: center;
	}

	.about__info {
		padding: 0;
		order:-1;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 50px;
		
	}

	.about__info .header__title {
		text-align: center;
		font-size: 24px;
		margin-bottom: 20px;
		
	}

	.about .intro__call {
		margin: 0 auto;
	}

	.about__text {
		margin-bottom: 50px;
	}

	/* Process(Work) */

	.work__item{
		width: 50%;
	}
	
	.work__item.plan {
		order:1;
	}

	/* Works */
	.row {
		flex-direction: column;
		align-items: center;
	}

	.works__img-wrap {
		margin: 10px 0;
	}


	.clients__row {
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
	}

	.clients__content .clients__row .clients__item {
		margin: 15px;
	}

	.clients .section__header {
		margin-bottom: 40px;
	}
	/* Contacts */
	form {
		margin-right:0;
		margin-bottom: 40px;
	}

	.form-wrap {
		max-width: none;
	}

	.form__item:last-child{
		margin: 0 auto;
	}

	.contacts__title {
		font-size: 24px;
		margin-bottom: 30px;
	}

	.contacts__title__small {
		margin-bottom: 10px;
	}

	.contacts__form__title {
		font-size: 16px;
	}

	.contacts__item {
		width: 100%;
		max-width: none;
	}

	.form__item:nth-child(2),
	.form__item:nth-child(3),
	.form__item:nth-child(4) {
		margin-bottom: 20px;
	}

	.contacts__block {
		max-width: none;
		padding: 30px 15px;
		margin-bottom: 20px;
	}

	.contacts__content {
		flex-direction: column;
		align-items: center;
	}

	.contacts__text {
		font-size: 13px;
	}

	/* Footer */
	.footer__inner {
		flex-direction: column;
		padding: 40px;

	}
	.footer__logo {
		margin-right: 0;
		margin-bottom: 20px;
		font-size: 16px;
	}

	.footer__nav__list {
		flex-direction: column;
		align-items: center;
		margin-bottom: 30px;
	}

	.footer__nav__list li {
		margin-bottom: 7px;
	}

	.social {
		position: unset;
		margin-left: 12px;
	}

	/* Copyright */
	.copyright {
		font-size: 14px;
		text-align: center;
		
	}
}



@media (max-width: 575px) {
	.slider_points {
		display: flex;
		width: 100%;
		justify-content: center;
	}

	.reviews__content {
		margin-bottom: 50px;
	}

	.reviews__item:last-child{
	
		
	}
}